# Install Required Libraries

In [27]:
!pip install sqlalchemy
import psycopg2
import pandas as pd

Requirement already satisfied: sqlalchemy in c:\users\chand\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\chand\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\chand\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

# Install the sqlalchemy toolkit

In [28]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# DB Connection using credentials

In [29]:
#Setting up the db connection
import psycopg2
username = 'postgres'
password = 'postgres'
host = 'localhost'       # or the IP address of your PostgreSQL server
port = '5432'            # default PostgreSQL port
database = 'Maternal health'

# Create an engine for connecting to PostgreSQL

In [30]:
# Create an engine for connecting to PostgreSQL
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')

# loading the csv data into dataframe

In [31]:
# Reading data from a CSV file
df_observations = pd.read_csv("observations.csv")

In [32]:
df_observations.head()

,case_id,age_years_old,color_ethnicity,hypertension_past_reported,hypertension_past_treatment,diabetes_mellitus_dm_reported,diabetes_mellitus_disease_gap,diabetes_mellitus_treatment,tobacco_use,tobacco_use_in_months,...,newborn_height,newborn_head_circumference,thoracic_perimeter_newborn,meconium_labor,apgar_1st_min,apgar_5th_min,pediatric_resuscitation_maneuvers,newborn_intubation,newborn_airway_aspiration,mothers_hospital_stay
0,2,28,0.0,0,not_applicable,0,not_applicable,not_applicable,0,not_applicable,...,44,32,NaN,0.0,8.0,9.0,0.0,0.0,1.0,NaN
1,3,37,1.0,0,not_applicable,0,not_applicable,not_applicable,0,not_applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,20,0.0,0,not_applicable,0,not_applicable,not_applicable,0,not_applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,21,1.0,0,not_applicable,0,not_applicable,not_applicable,0,not_applicable,...,48,33,NaN,0.0,9.0,9.0,0.0,0.0,0.0,1.0
4,7,17,0.0,0,not_applicable,0,not_applicable,not_applicable,0,not_applicable,...,46,31.5,NaN,0.0,8.0,9.0,0.0,0.0,0.0,1.0

# Load the dataframe into Database(postgresql)

In [33]:
# Load the DataFrame into PostgreSQL
table_name = 'Maternal_data'
df_observations.to_sql(table_name, engine, if_exists='replace', index=False)

print("CSV file loaded successfully into PostgreSQL!")

CSV file loaded successfully into PostgreSQL!